.tarjeta-personaje {
  display: flex;
  flex-direction: column;
  background-color: black;
  border: 0.5px solid rgb(40, 36, 36);
  margin: 10px 0;
}

.tarjeta-personaje:hover {
  box-shadow: 0px 0px 9px 5px rgba(17, 223, 255, 1);
}

.tarjeta-personaje-body > a span {
  /* color: #c0d55d; */
  text-decoration: none;
  color: rgba(17, 223, 255, 1);
}

.tarjeta-personaje > a > img {
  width: 300px;
  height: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tarjeta-personaje > div.tarjeta-personaje-body {
  padding: 10px;
  border-top: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 960px) {
  .tarjeta-personaje > a > img {
    width: 250px;
    height: 250px;
  }
}
