.tarjeta-episodio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: fit-content; */
  background-color: black;
  padding: 10px 20px;
  border-radius: 20px;
  flex-flow: column wrap;
  border: 0.5px solid #c0d55d;
  color: #c0d55d;
}

.tarjeta-episodio:hover {
  border: 0.5px solid rgb(17 223 255);
  color: rgb(17 223 255);
}

.tarjeta-episodio h4 {
  margin: 0;
  margin-bottom: 10px;
}

.tarjeta-episodio > span {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.8;
}

.tarjeta-episodio div {
  display: flex;
  justify-content: space-between;
}

.tarjeta-episodio div span:nth-child(1) {
  margin-right: 10px;
}
